/* custom styling of streamlit components */

div.block-container.css-k1ih3n.egzxvld4 {
    padding-top: 0.75rem;
}

div.css-1vq4p4l.e1fqkh3o4 {
    padding-top: 3rem;
}

hr {
    margin-top: 1em;
    margin-bottom: 1em;
}
